/****mobile screen****/

@media screen and (max-width: 669px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .nav ul {
    flex-direction: column;
    text-align: center;
    display: none;
    line-height: 30px;
  }
  .nav input[type]:checked ~ ul {
    display: block;
  }
  .logo {
    width: 100%;
    font-size: 17px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    justify-content: space-between;
  }

  .logo label {
    display: inline;
  }
  .navbar {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .navbar ul {
    text-align: center;
  }

  .navbar input[type]:checked ~ ul {
    display: block;
  }
  .navbar input[type]:checked ~ ul {
    display: block;
  }

  #lop {
    display: block;
    flex-direction: column;
  }

  .banner {
    width: 100%;
    height: 400px;
  }
  .imagebanner {
    width: 100%;
    height: 400px;
  }
  .text {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 400px;
    padding: 10px;
  }
  .text h1 {
    font-size: 28px;
    color: black;
  }
  .text p {
    font-size: 20px;
    color: black;
  }
  .text div {
    margin-right: 100px;
  }
  .text button {
    font-size: 18px;
  }

  .about {
    margin-top: 300px;
  }
  .about h1 {
    font-size: 30px;
  }
  .about img {
    width: 120px;
    margin-left: 220px;
  }
  .about button {
    margin: auto;
    margin-left: 220px;
  }
  .box {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .boox {
    width: 100%;
    height: 295px;
  }
}
